In [1]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier

from interpret.blackbox import LimeTabular
from interpret import show
np.random.seed(222)

In [2]:
dane = pd.read_csv("titanic.csv", index_col=0)
dane.shape

dane.head(10)

   gender   age  class  embarked     fare  sibsp  parch  survived
0       1  42.0      2         3   7.1100      0      0         0
1       1  13.0      2         3  20.0500      0      2         0
2       1  16.0      2         3  20.0500      1      1         0
3       0  39.0      2         3  20.0500      1      1         1
4       0  16.0      2         3   7.1300      0      0         1
5       1  25.0      2         3   7.1300      0      0         1
6       1  30.0      1         1  24.0000      1      0         0
7       0  28.0      1         1  24.0000      1      0         1
8       1  27.0      2         1  18.1509      0      0         1
9       1  20.0      2         3   7.1806      0      0         1

In [6]:
X = dane.loc[: , dane.columns != 'survived']
y = dane['survived']

rf = RandomForestClassifier(n_estimators=100)
rf.fit(X, y)
lime_inter = LimeTabular(predict_fn=rf.predict_proba, data=X, random_state=100)

X_przypadki = X[0:4]
y_przypadki = rf.predict(X) 

inter_lokal = lime_inter.explain_local(
    X_przypadki, y_przypadki, name='lime')
show(inter_lokal)

/Users/lswarss/Code/StudySpace/ML_Data_Analysis/env/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
/Users/lswarss/Code/StudySpace/ML_Data_Analysis/env/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
/Users/lswarss/Code/StudySpace/ML_Data_Analysis/env/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
/Users/lswarss/Code/StudySpace/ML_Data_Analysis/env/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
/Users/lswarss/Code/StudySpace/ML_Data_Analysis/env/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
/Users/lswarss/Code/StudySpace/ML_Data_Analysis/env/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
/Users/lswarss/Code/StudySpace/ML_Data_Analysis/env/lib/python3.10/site-packages/interpret/visual/udash.py:5: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
/Users/lswarss/Code/StudySpace/ML_Data_Analysis/env/lib/python3.10/site-packages/interpret/visual/udash.py:6: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/Users/lswarss/Code/StudySpace/ML_Data_Analysis/env/lib/python3.10/site-packages/interpret/visual/udash.py:7: UserWarning:
The dash_table package is deprecated. Please replace
`import dash_table` with `from dash import dash_table`

Also, if you're using any of the table format helpers (e.g. Group), replace
`from dash_table.Format import Group` with
`from dash.dash_table.Format import Group`
  import dash_table as dt